.image-video-top{
    /* background-image: url(../images/about/Best-Gyms-In-Chandigarh.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;  */
}
@media (max-width:760px){
    body {
        background-color: red;
    }
    .image-video-top{
        margin-top: 80px;
        /* background-image: url(../images/about/Best-Gyms-In-Chandigarh.jpg);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;  */
    }
}
.points{ color: #fff;
    margin-top:-20px;
      background-image: linear-gradient( rgba(34, 34, 33, 0.815) 100%, rgba(59, 17, 17, 0.808)100%), url(../images/about/Best-Gyms-In-Chandigarh.jpg);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center; 
}